<h1>Editing content</h1>

<% form_for(@content) do |f| %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :page %><br />
    <%= f.text_area :page %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @content %> |
<%= link_to 'Back', contents_path %>