<h1>Editing content</h1>

<% form_for(@content, :url => content_path(@content.id), :html => {:method => :put}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :page %><br />
    <%= f.text_field :page %>
  </p>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @content %> |
<%= link_to 'Back', contents_path %>