<h1>New content</h1>

<% form_for(@content, :url => contents_path) do |f| %>
  <%= f.error_messages %>
  
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <!-- <p>
    <%#= f.label :language %><br />
    <%#= f.select :language, %w{de en es fr it ja zh}, :prompt => "Choose language code" %>
  </p> -->
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', contents_path %>